<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KLSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E72C3D101DAB939F00CD7BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72C3D241DAB939F00CD7BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E72C3D2F1DAB939F00CD7BD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
